*{
    margin: 0;
    padding: 0;
}
/* --- menu --- */
.menu {
    background-color: black;
    display: flex;
}
.menu li {
    list-style: none;
    padding: 10px;
}
.menu a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
}
.menu a:hover {
    background-color: rgb(100,100,100);
}

/* --- main --- */

/* --- logo --- */
.logo {
    height: 650px;
    background-image: url('../images/aleksandr.jpg');
    background-size: cover;
    text-align: center;
}
.logo h1{
    color: rgb(255, 255, 255);
    font-size: 75px;
    padding-top: 140px;
}
.logo p{
    color: rgb(255, 255, 255);
    padding-top: 90px;
    font-size: 30px;
}

.about{
    background-color: black;
    color: white;
    font-size: 26px;
    line-height: 40px;
    text-indent: 30px;
    text-align: justify;
    padding: 80px 30px;
}

/* --- articles --- */
 .logo_articles{
    height: 600px;
    background-image: url('../images/tunel.jpg');
    background-size: cover;
    text-align: center;
}
.logo_articles{ h1{
    font-size: 60px;
    color: white;
    text-shadow:1px 1px 2px black;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;


}


.link{
    color: white;
}

/* --- Login --- */

form{
	margin: 50px;
	font-size: 30px;
	text-align: center;
}
input{
	width: 400px;
	font-size: 20px;
}
button{
	background-color: black;
	color: white;
	font-size: 20px;
	margin: 15px;
	padding: 10px;
}

/* --- footer --- */
footer{
    background-color: black;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 30px;
}