{% extends "layout.html" %}

{% block main %}
    <section class="logo_articles">
        <h1>Discover <br> something nev</h1>
    </section>

    <section class="details">
        <h2>Open new City</h2>
        {% for article in articles %}
            <div>
                <div class="post_img">
                    <img src="{{  article.post_image }}" alt="">
                </div>
                <div class="articles_text">
                    <h3>{{ article.post_name }}</h3>
                    <p>{{ article.continent }}</p>
                    <p>{{ article.post_text }}</p>
                </div>
                <div>
                    <a href="/details/{{ article.id }}">More details</a>
                </div>
            </div>
        {% endfor %}
    </section>

{% endblock main %}